.forest-img{
  width: 100%;
  max-width: 30vw;
  object-fit: cover;
}

.forest-details {
  display: block;
  margin: auto;
  font-size: 20px;
}

.forest {
  display: flex;
  width: 90%;
  border: 1px solid black;
  max-height: 30vh;
  margin: auto;
}

.about, .health{
  text-align: center;
  padding: 2em;
}
